.content {
    padding: 15px;
    background: #fff;
}
.btns {
    margin: 10px 0;
}
.createBtn {
    width: 100%;
}
.error {
    color: red;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 10px;
}